step-functions/high_performance_workflow.json.backup
{
  "Comment": "Robust, DynamoDB-driven Book Scan Workflow",
  "StartAt": "InitializeWorkflow",
  "States": {
    "InitializeWorkflow": {
      "Type": "Task",
      "Resource": "${trigger_pipeline_lambda_arn}",
      "Parameters": {
        "s3_bucket.$": "$.input_bucket",
        "s3_prefix.$": "$.input_prefix",
        "run_id.$": "$$.Execution.Name"
      },
      "ResultPath": "$.initialization",
      "Next": "CopyCoverFiles"
    },
    "CopyCoverFiles": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
            "FunctionName": "${copy_cover_files_lambda_arn}",
            "Payload": {
                "run_id.$": "$.initialization.run_id",
                "input_bucket.$": "$.input_bucket",
                "temp_bucket.$": "$.temp_bucket"
            }
        },
        "ResultPath": "$.cover_copy_result",
        "Next": "ProcessImages"
    },
    "ProcessImages": {
      "Type": "Map",
      "ItemsPath": "$.initialization.image_keys",
      "MaxConcurrency": 10,
      "Parameters": {
        "run_id.$": "$.initialization.run_id",
        "image_key.$": "$$.Map.Item.Value",
        "input_bucket.$": "$.input_bucket",
        "temp_bucket.$": "$.temp_bucket"
      },
      "Iterator": {
        "StartAt": "DetectSkew",
        "States": {
          "DetectSkew": {
            "Type": "Task",
            "Resource": "${detect_skew_lambda_arn}",
            "ResultPath": "$.skew_result",
            "Next": "CorrectSkew"
          },
          "CorrectSkew": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
              "LaunchType": "FARGATE",
              "Cluster": "${ecs_cluster_arn}",
              "TaskDefinition": "${fargate_task_definition_arn}",
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "Subnets": ${private_subnets_json},
                  "SecurityGroups": ["${fargate_sg_id}"],
                  "AssignPublicIp": "ENABLED"
                }
              },
              "Overrides": {
                "ContainerOverrides": [
                  {
                    "Name": "consolidated-processor",
                    "Environment": [
                      {"Name": "INPUT_KEY", "Value.$": "$.image_key"},
                      {"Name": "SKEW_ANGLE", "Value.$": "$.skew_result.angle"}
                    ]
                  }
                ]
              }
            },
            "ResultPath": "$.correction_result",
            "Next": "UpscaleImage"
          },
          "UpscaleImage": {
            "Type": "Task",
            "Resource": "${upscale_image_lambda_arn}",
            "ResultPath": "$.upscale_result",
            "Next": "ProcessOcr"
          },
          "ProcessOcr": {
            "Type": "Task",
            "Resource": "${process_ocr_lambda_arn}",
            "ResultPath": "$.ocr_result",
            "End": true
          }
        }
      },
      "ResultPath": "$.processing_results",
      "Next": "GeneratePdf"
    },
    "GeneratePdf": {
      "Type": "Task",
      "Resource": "${generate_pdf_lambda_arn}",
      "Parameters": {
        "run_id.$": "$.initialization.run_id"
      },
      "ResultPath": "$.pdf_result",
      "Next": "GenerateSummary"
    },
    "GenerateSummary": {
      "Type": "Task",
      "Resource": "${generate_run_summary_lambda_arn}",
      "ResultPath": "$.summary_result",
      "Next": "FinalCleanup"
    },
    "FinalCleanup": {
      "Type": "Task",
      "Resource": "${final_cleanup_lambda_arn}",
      "ResultPath": null,
      "Next": "SuccessState"
    },
    "SuccessState": {
      "Type": "Succeed"
    }
  }
}