step-functions/main-workflow.json
{
  "Comment": "스캔된 책 이미지 처리 및 PDF 생성 워크플로우",
  "StartAt": "TriggerPipeline",
  "States": {
    "TriggerPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${trigger_pipeline_lambda_arn}",
        "Payload": {
          "s3_bucket.$": "$.input_bucket",
          "s3_prefix.$": "$.input_prefix"
        }
      },
      "ResultPath": "$.pipeline_input",
      "Next": "Orchestrator",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "WorkflowFailed",
          "ResultPath": "$.error_info"
        }
      ]
    },
    "Orchestrator": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${orchestrator_lambda_arn}",
        "Payload": {
          "run_id.$": "$.pipeline_input.Payload.run_id",
          "input_bucket.$": "$.input_bucket",
          "temp_bucket.$": "$.temp_bucket",
          "output_bucket.$": "$.output_bucket"
        }
      },
      "ResultPath": "$.orchestrator_output",
      "Next": "IsWorkDone",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "WorkflowFailed",
          "ResultPath": "$.error_info"
        }
      ]
    },
    "IsWorkDone": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.orchestrator_output.Payload.is_work_done",
          "BooleanEquals": true,
          "Next": "GeneratePDF"
        }
      ],
      "Default": "ProcessBatch"
    },
    "ProcessBatch": {
      "Type": "Map",
      "ItemsPath": "$.orchestrator_output.Payload.batch_to_process",
      "MaxConcurrency": 50,
      "ResultPath": "$.map_results",
      "ToleratedFailurePercentage": 10,
      "Iterator": {
        "StartAt": "DetectSkew",
        "States": {
          "DetectSkew": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${detect_skew_lambda_arn}",
              "Payload": {
                "run_id.$": "$.run_id",
                "image_key.$": "$.image_key",
                "input_bucket.$": "$.input_bucket"
              }
            },
            "ResultPath": "$.skew_result",
            "Next": "CorrectSkew",
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              },
              {
                "ErrorEquals": ["States.TaskFailed"],
                "IntervalSeconds": 1,
                "MaxAttempts": 2,
                "BackoffRate": 1.5
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "MapTaskFailed",
                "ResultPath": "$.error_info"
              }
            ]
          },
          "CorrectSkew": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
              "LaunchType": "FARGATE",
              "TaskDefinition": "${fargate_task_arn}",
              "Cluster": "${ecs_cluster_arn}",
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "Subnets": ["${subnet_id}"],
                  "SecurityGroups": ["${security_group_id}"],
                  "AssignPublicIp": "DISABLED"
                }
              },
              "Overrides": {
                "ContainerOverrides": [{
                  "Name": "consolidated-processor",
                  "Environment": [
                    {"Name": "RUN_ID", "Value.$": "$.run_id"},
                    {"Name": "IMAGE_KEY", "Value.$": "$.image_key"},
                    {"Name": "SKEW_ANGLE", "Value.$": "States.Format('{}', $.skew_result.Payload.skew_angle)"},
                    {"Name": "INPUT_BUCKET", "Value.$": "$.input_bucket"},
                    {"Name": "TEMP_BUCKET", "Value.$": "$.temp_bucket"},
                    {"Name": "DYNAMODB_STATE_TABLE", "Value": "${dynamodb_table_name}"}
                  ]
                }]
              }
            },
            "ResultPath": "$.correction_result",
            "Next": "UpscaleImage",
            "Retry": [
              {
                "ErrorEquals": ["ECS.AmazonECSException"],
                "IntervalSeconds": 30,
                "MaxAttempts": 2,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "MapTaskFailed",
                "ResultPath": "$.error_info"
              }
            ]
          },
          "UpscaleImage": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${upscale_image_lambda_arn}",
              "Payload": {
                "run_id.$": "$.run_id",
                "image_key.$": "$.image_key",
                "temp_bucket.$": "$.temp_bucket",
                "job_output": {
                   "skew_correction.$": "$.correction_result.Payload"
                }
              }
            },
            "ResultPath": "$.upscale_result",
            "Next": "ProcessOCR",
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "MapTaskFailed",
                "ResultPath": "$.error_info"
              }
            ]
          },
          "ProcessOCR": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${process_ocr_lambda_arn}",
              "Payload": {
                "run_id.$": "$.run_id",
                "image_key.$": "$.image_key",
                "temp_bucket.$": "$.temp_bucket",
                "image_key_for_ocr.$": "$.upscale_result.Payload.upscaled_image_key"
              }
            },
            "ResultPath": "$.ocr_result",
            "End": true,
            "Retry": [
              {
                "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "MapTaskFailed",
                "ResultPath": "$.error_info"
              }
            ]
          },
          "MapTaskFailed": {
            "Type": "Pass",
            "Result": { "status": "FAILED_IN_MAP" },
            "End": true
          }
        }
      },
      "Next": "WaitForEventBridge"
    },
    "WaitForEventBridge": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "CheckEventBridgeCompletion"
    },
    "CheckEventBridgeCompletion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${orchestrator_lambda_arn}",
        "Payload": {
          "run_id.$": "$.pipeline_input.Payload.run_id",
          "input_bucket.$": "$.input_bucket",
          "temp_bucket.$": "$.temp_bucket",
          "output_bucket.$": "$.output_bucket",
          "check_only": true
        }
      },
      "ResultPath": "$.completion_check",
      "Next": "IsEventProcessingDone",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ]
    },
    "IsEventProcessingDone": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.completion_check.Payload.is_work_done",
          "BooleanEquals": true,
          "Next": "GeneratePDF"
        }
      ],
      "Default": "Orchestrator"
    },
    "GeneratePDF": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${generate_pdf_lambda_arn}",
        "Payload": {
          "run_id.$": "$.pipeline_input.Payload.run_id",
          "input_bucket.$": "$.input_bucket",
          "output_bucket.$": "$.output_bucket",
          "temp_bucket.$": "$.temp_bucket"
        }
      },
      "ResultPath": "$.pdf_result",
      "Next": "GenerateRunSummary",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "WorkflowFailed",
          "ResultPath": "$.error_info"
        }
      ]
    },
    "GenerateRunSummary": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${generate_run_summary_lambda_arn}",
        "Payload": {
          "execution_id.$": "$.pipeline_input.Payload.run_id",
          "start_time.$": "$.Execution.StartTime",
          "results.$": "$.pdf_result.Payload"
        }
      },
      "End": true,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ]
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Cause": "워크플로우 실행 중 복구 불가능한 오류 발생"
    }
  }
}
